// n is number of stars required
@function multiple-box-shadow($n) {
    $value: "#{random(2000)}px #{random(2000)}px #FFF";
    @for $i from 2 through $n {
        $value: "#{$value} , #{random(2000)}px #{random(2000)}px #FFF";
    }

    @return unquote($value);
}

$farest: multiple-box-shadow(700);
$middle: multiple-box-shadow(200);
$nearest: multiple-box-shadow(100);

.farest-parallax-layer {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $farest;
    animation: animStar 200s linear infinite;
}

.middle-parallax-layer {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $middle;
    animation: animStar 150s linear infinite;
}

.nearest-parallax-layer {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $nearest;
    animation: animStar 100s linear infinite;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}
